CompileFlags:
  CompilationDatabase: .
  Add:
    - -Iinclude
    - -Isrc
    - -std=gnu++17

---
If:
  PathMatch:
    - .*src/native_main\.cpp
    - .*src\\native_main\.cpp
CompileFlags:
  CompilationDatabase: .

---
If:
  PathMatch:
    - .*test/test_csc/.*
    - .*test\\test_csc\\.*
CompileFlags:
  CompilationDatabase: .
  Add:
    - -DPIO_UNIT_TESTING
    - -DUNIT_TEST
    - -DUNITY_INCLUDE_CONFIG_H
    - -Itest
    - -Itest/test_csc
    - -I.pio/libdeps/native_csc/Unity/src
    - -I.pio/build/native_csc/unity_config
